@use '../abstracts/' as *;
@use '../base/' as *;

footer {
    height: 7.5rem;
    margin: 5.5rem 5rem;



    @include bp-lg-tablet {
        height: 18.75rem;
        margin: 4.5rem 2.5rem;
    }

    @include bp-sm-tablet {
        height: 16.875rem;
    }

    @include bp-mobile {
        height: 21.625rem;
        margin: 4.5rem 1.5rem;
    }

    .footer__container {
        background-color: $dk-grey-blue;
        @include flex(row, space-between, center);
        padding-inline: 5.3125rem;

        @include bp-lg-tablet {
            flex-direction: column;
        }

        .footer__mainmenu {
            width: 60%;
            @include flex(row, space-between, center);

            @include bp-lg-tablet {
                width: 100%;
                flex-direction: column;
                padding-top: 3.375rem;
            }


            .footer__logo {
                width: 100%;
                height: auto;

            }

            .footer__menu {
                width: 18.75rem;
                @include flex(row, space-between, center);

                li a {
                    color: $lt-cream;
                }

                @include bp-lg-tablet {
                    margin-top: 2rem;

                }

                @include bp-md-tablet {
                    margin-top: 2rem;
                }

                @include bp-sm-tablet {
                    flex-direction: column;
                    margin-top: 3rem;
                }
            }
        }

        .footer__socialmenu {
            width: 7.5rem;
            @include flex(row, space-between, center);

            @include bp-lg-tablet {
                margin-bottom: 3.375rem;
            }

            @include bp-sm-tablet {
                margin-top: 3rem;
            }
        }
    }
}