@use '../abstracts/' as *;
@use '../base/' as *;

.hero {
    @include flex(row, flex-start, center);

    &__content {
        width: 30.8125rem;
        height: 22.9375rem;
        @include flex(column, space-evenly, flex-start);
        margin-left: 3.625rem;

        @include bp-lg-tablet {
            width: 24.875rem;
            height: 18.25rem;
        }

        .hero__title {
            @include HeaderOne;

            @include bp-lg-tablet {
                font-size: 3rem;
            }
           
        }

        .hero__text {
            @include BodyFont;
        }
    }

}


// Home 
.home {
    background-image: url('/src/assets/home/desktop/image-hero-coffeepress.jpg');
    height: 37.5rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include bp-lg-tablet {
        background-image: url('/src/assets/home/tablet/image-hero-coffeepress.jpg');
        height: 31.25rem;
    }

    @include bp-sm-tablet {
        background-image: url('/src/assets/home/mobile/image-hero-coffeepress.jpg');
    }


}