@use '../abstracts/' as *;
@use '../base/' as *;

.hero {
    @include flex(row, flex-start, center);
    width: 90%;
    height: 53.375rem;
    margin: auto;

    

    &__content {
        width: 30.8125rem;
        height: 22.9375rem;
        @include flex(column, space-evenly, flex-start);
        margin-left: 3.625rem;

        @include bp-lg-tablet {
            width: 24.875rem;
            height: 18.25rem;
        }

        @include bp-sm-tablet {
            width: 16.9375rem;
            height: 18.8125rem;
            text-align: center;
            margin: auto;
            align-items: center;
        }

        .hero__title {
            @include HeaderOne;

            @include bp-lg-tablet {
                font-size: 3rem;
            }

            @include bp-sm-tablet {
                font-size: 2.375rem;
                line-height: 2.5rem;
            }

        }

        .hero__text {
            @include BodyFontLT;

            @include bp-sm-tablet {
                font-size: .9375rem;
            }
        }

    }

}


// Home 
.home {
    background-image: url('/src/assets/home/desktop/image-hero-coffeepress.jpg');
    height: 37.5rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include bp-lg-tablet {
        background-image: url('/src/assets/home/tablet/image-hero-coffeepress.jpg');
        height: 31.25rem;
    }

    @include bp-sm-tablet {
        background-image: url('/src/assets/home/mobile/image-hero-coffeepress.jpg');
    }


}


// About
.about {
    background-image: url('/src/assets/about/desktop/image-hero-whitecup.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 28.125rem;

    @include bp-lg-tablet {
        background-image: url('/src/assets/about/tablet/image-hero-whitecup.jpg');
        height: 25rem;
    }

    @include bp-sm-tablet {
        background-image: url('/src/assets/about/mobile/image-hero-whitecup.jpg');
    }

    .hero__content {
        @include flex(column, center, flex-start);

        @include bp-sm-tablet {
            text-align: center;
            margin: auto;
            align-items: center;
        }

        .hero__title {
            @include HeaderTwoLT;

            @include bp-lg-tablet {
                font-size: $h3-heading-size;
            }

            @include bp-sm-tablet {
                font-size: 1.75rem;
            }
        }
    }

}

// Subscribe
.subscribe {
    background-image: url(/src/assets/plan/desktop/image-hero-blackcup.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 28.125rem;

    @include bp-lg-tablet {
        background-image: url('/src/assets/plan/tablet/image-hero-blackcup.jpg');
        height: 25rem;
    }

    @include bp-sm-tablet {
        background-image: url('/src/assets/plan/mobile/image-hero-blackcup.jpg');
    }

    .hero__content {
        @include flex(column, center, flex-start);

        @include bp-sm-tablet {
            text-align: center;
            margin: auto;
            align-items: center;
        }

        .hero__title {
            @include bp-lg-tablet {
                font-size: 3rem;
            }

            @include bp-sm-tablet {
                font-size: $h2-heading-size;
            }
        }
    }
}






.about,
.subscribe {
    .btn-hero {
        display: none;
    }
}