@use '../abstracts/' as *;
@use '../base/' as *;

nav {
    @include flex(row, space-between, center);
}

nav ul {
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
    padding-right: .0625rem;
    gap: 2.0625rem;
}

nav ul li a {
    display: block;

}