@use '../abstracts/' as *;
@use '../base/' as *;

.main__home {
    .collection {
        text-align: center;
        @include flex(column, center, center);
        margin: auto;


        &__title {
            font-size: 9.375rem;
            font-family: $header-font;
            text-transform: lowercase;
            font-weight: 900;
            font-style: normal;
            text-decoration: none;
            text-align: center;
            color: transparent;
            background: linear-gradient(hsl(43, 0%, 60%), hsl(43, 0%, 96%));
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            padding-top: 8rem;

            @include bp-lg-tablet {
                font-size: 6rem;
            }

            @include bp-md-tablet {
                font-size: 5rem;
                padding-top: 6rem;
            }

            @include bp-sm-tablet {
                font-size: 2.5rem;
            }
        }

        .collection__list {
            background: none;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 3rem;
            align-content: center;
            margin-top: -5.3rem;

            @include bp-lg-tablet {
                grid-template-columns: none;
                grid-template-rows: 1fr 1fr 1fr 1fr;
                margin-top: -4.3rem;
                justify-items: center;
                text-align: left;
                padding-bottom: 12rem;
            }

            @include bp-md-tablet {
                margin-top: -3rem;
            }

            @include bp-sm-tablet {
                margin-top: 0;
            }

            .collection__card {
                max-width: 16rem;
                background: none;
                z-index: 1;
                padding-bottom: 12rem;

                @include bp-lg-tablet {
                    max-width: 40rem;
                    padding-bottom: 0rem;
                    background: none;
                    @include flex(row, space-between, center);
                    
                }

                @include bp-md-tablet {
                    max-width: 28rem;
                }

                @include bp-sm-tablet {
                    max-width: 16rem;
                    padding-bottom: 0rem;
                    flex-direction: column;
                    text-align: center;
                    align-items: center;
                }

                .collection__img {
                    background: none;
                    max-width: 10rem;
                    margin: auto;

                    @include bp-lg-tablet {
                        background: none;
                        max-width: 15.9rem;
                    }
                }

                .collection__content {
                    width: 15.625rem;

                    @include bp-lg-tablet {
                        width: 18rem;
                    }

                    .collection__subtitle {
                        @include HeaderFourDK;
                        margin-top: 3rem;


                        @include bp-md-tablet {
                            margin-top: 1rem;
                        }
                    }

                    .collection__details {
                        @include BodyFontDK;
                        margin-top: 1.5rem;

                        @include bp-lg-tablet {
                            width: 15.9375rem;
                        }

                        @include bp-md-tablet {
                            margin-top: 1.5rem;
                        }
                    }
                }
            }
        }
    }
}