@use '../abstracts/' as *;
@use '../base/' as *;

.commit {
    width: 90%;
    margin-top: 10.5rem !important;
    margin: auto;

    @include bp-lg-tablet {
        margin-top: 12.5rem !important;
    }

    @include bp-md-tablet {
        margin-top: 10rem !important;
    }

    @include bp-sm-tablet {
        margin-top: 5rem !important;
    }

    @include bp-mobile {
        padding-top: 3.125rem !important;
    }

    &__item {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-items: center;
        gap: 2rem;
        padding: 0 5rem;

        @include bp-lg-tablet {
            padding: 0 2.5rem;
            gap: 3rem;
        }

        @include bp-sm-tablet {
            grid-template-columns: none;
            grid-template-rows: repeat(2, 1fr);
            padding: 0rem 1.5rem;
            justify-content: center;
        }

        @include bp-mobile {
            padding: 0;
            margin: auto;
            margin-top: -3.125rem;
        }

        .commit__img {
            background-image: url('/src/assets/about/desktop/image-commitment.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            width: 27.8125rem;
            height: 32.5rem;

            @include bp-md-tablet {
                background-image: url('/src/assets/about/tablet/image-commitment.jpg');
                width: 17.5625rem;
                height: 29.375rem;
            }

            @include bp-sm-tablet {
                background-image: url('/src/assets/about/mobile/image-commitment.jpg');
                width: 20.4375rem;
                height: 25rem;
            }

            @include bp-mobile {
                width: 90%;
                margin-top: -3.75rem;
            }


        }

        .commit__details {
            max-width: 33.75rem;
            align-items: center;

            @include bp-lg-tablet {
                width: 21.1875rem;
            }

            @include bp-md-tablet {
                align-items: start;
            }

            @include bp-mobile {
                width: 90%;
                padding: 0rem 1rem;
                margin-top: -5rem;
            }

            &__title {
                @include HeaderThreeDK;

                @include bp-sm-tablet {
                    font-size: 1.75rem;
                    text-align: center;
                }
            }

            &__summary {
                @include BodyFontDK;
                margin-top: 2rem;

                @include bp-sm-tablet {
                    text-align: center;
                    font-size: .9375rem;
                }

                @include bp-mobile {
                    width: 100%;
                    margin: auto;
                    padding-bottom: 1rem;
                }
            }
        }
    }

}