@use '../abstracts/' as *;
@use '../base/' as *;

.main__home {
    .work {
        @include flex(column, flex-start, flex-start);
        padding-top: 10rem;
        padding-bottom: 12.5rem;
        max-width: 65rem;
        margin: 0 3rem;

        @include bp-md-tablet {
            margin: 0;
        }


        &__title {
            @include HeaderFourGrey;
            padding-bottom: 5rem;
        }

        .divider {
            width: 47.5rem;
            height: auto;

            @include bp-sm-tablet {
                display: none;
            }
        }

        .work__container {
            @include flex(column, space-between, flex-start);
            width: 100%;
            height: auto;

            @include bp-sm-tablet {
                align-items: center;
            }

            .works__items {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: 1fr;
                width: 100%;
                gap: 5.625rem;

                @include bp-lg-tablet {
                    gap: .625rem;
                }

                @include bp-sm-tablet {
                    grid-template-columns: none;
                    grid-template-rows: repeat(3, 1fr);
                    gap: 3.5rem;
                }

                .work__item {
                    max-width: 23.4375rem;
                    height: auto;
                    display: grid;
                    grid-template-columns: 1fr;
                    grid-template-rows: repeat(3, 1fr);
                    align-content: top;
                    text-align: start;

                    @include bp-lg-tablet {
                        grid-template-rows: repeat(3, 3.125rem, auto, 6.25rem);
                    }

                    @include bp-sm-tablet {
                        align-items: center;
                        text-align: center;
                    }

                    &--number {
                        @include HeaderOneNumber;
                        align-content: center;
                        //margin-bottom: -2.5rem;
                    }

                    &--title {
                        @include HeaderThreeDK;
                        padding-right: 1.875rem;
                        align-content: first baseline;

                        @include bp-lg-tablet {
                            font-size: 1.75rem;
                            //margin-top: -0.625rem;
                        }

                        @include bp-sm-tablet {
                            text-align: center;
                            padding-right: 0;
                        }
                    }



                    &--summary {
                        @include BodyFontDK;
                        //margin-top: -1.25rem;

                        @include bp-lg-tablet {
                            //margin-top: -1.875rem;
                        }

                        @include bp-sm-tablet {
                            font-size: .9375rem;
                            line-height: 1.5625rem;
                            //margin-top: 0;
                        }
                    }

                }
            }


        }

        .btn__container {
            @include bp-sm-tablet {
                text-align: center;
            }
        }
    }
}