@use '../abstracts/' as *;
@use '../base/' as *;

.location {
    @include flex(column, flex-start, flex-start);
    padding-top: 8rem !important;
    margin: auto;
    width: 90%;


    &__main__title {
        @include HeaderFourGrey;
        padding-bottom: 5rem;

    }

    &__content {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        padding: 0 1.5rem;
        width: 100%;

        @include bp-sm-tablet {
            grid-template-rows: repeat(3, 1fr);
            grid-template-columns: none;
        }

    }
}