@use '../abstracts/' as *;
@use '../base/' as *;

.plan__container {
    padding: 0 10.3125rem;

    @include bp-lg-tablet {
        padding: 0;
    }

    .plan__section {
        @include flex (row, space-between, start);
        margin-top: 7.5rem;

        @include bp-lg-mobile {
            margin-top: 3rem;
        }

        

        .accordion__container {
            position: relative;
            flex: 1 1 75%;
            padding: 0 2.5rem;

            .accordion {

                .accordion__list__item {
                    margin-bottom: 3.125rem;

                    .accordion__item {
                        margin-bottom: 5.5rem;
                        padding: 1rem 0;

                        .accordion__header {
                            .accordion--btn {
                                position: relative;
                                @include flex (row, space-between, baseline);
                                width: 100%;
                                background-color: inherit;
                                @include HeaderThreeGR;
                                border: none;
                                text-align: left;
                                cursor: pointer;
                                transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out,
                                    box-shadow .15s ease-in-out,
                                    border-radius .15s ease;

                                @include bp-mobile {
                                    font-size: $h4-heading-size;
                                }

                                &::after {
                                    content: "";
                                    background-image: url('src/assets/plan/desktop/icon-arrow.svg');
                                    width: 1.25rem;
                                    height: 1.25rem;
                                    background-repeat: no-repeat;
                                    flex-shrink: 0;
                                    transition: transform .2s ease-in-out;
                                }

                                &:not(.collapsed)::after {
                                    background-image: url('src/assets/plan/desktop/icon-arrow.svg');
                                    transform: rotate(-180deg);

                                }
                            }
                        }



                    }
                }
            }
        }
    }
}

// Accordion Cards
.plan__card {

    margin-top: 2rem;
    margin-bottom: 2rem;
    gap: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;


    @include bp-lg-mobile {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 1.5rem;
    }

    .plan__select {
        position: relative;
        height: 15.625rem;

        @include bp-lg-mobile {
            height: 8.75rem;
        }

        input[type='radio'] {
            position: absolute;
            height: 0;
            width: 0;
            opacity: 0;
        }

        input[type='radio']:checked+label {
            background-color: $selection-btn-active;
            color: $lt-heading-color;
        }

        input[type='radio']:focus+label {
            border: 2px dashed #444;
        }
    }
}

.radio__label {
    background-color: $cream;
    display: flex;
    flex-direction: column;
    padding: 1rem 1.5rem;
    height: 15.625rem;

    @include bp-xl-tablet {}

    @include bp-lg-mobile {
        height: 8.75rem;
    }
}






// Accordion Collapse 

.collapse01,
.collapse02,
.collapse03,
.collapse04,
.collapse05 {
    display: none;
}

.collapse__show {}

.hide__grind {
    display: none;
}

.grind__disable {
    pointer-events: none;
    color: #e1d4d4;
}