@use '../abstracts/' as *;
@use '../base/' as *;

.plan__container {
    padding: 0 10.3125rem;
    margin-top: 6.25rem;

    .plan__section {
        @include flex (row, space-between, start);

        aside {
            display: block;
            flex: 1 1 25%;

            .nav__list {
                position: relative;

                @include flex(column, space-between, start);
                min-height: 22.25rem;


                .nav__item {
                    position: relative;
                    font-size: $h4-heading-size;
                    font-weight: 900;

                    &:before {
                        position: absolute;
                        content: "";
                        width: 12rem;
                        height: 0.1rem;
                        background-color: $lt-grey;
                        bottom: -1rem;
                        left: 0;
                    }

                    a {
                        outline: none;
                        font-family: $header-font;
                        color: $grey;


                        &:hover>.nav__item__number,
                        &:focus>.nav__item__number {
                            color: $dk-cyan;
                        }

                        &:hover>.nav__item__text,
                        &:focus>.nav__item__text {
                            color: $dk-grey-blue;
                        }

                        .nav__item__number {
                            color: $grey;
                            padding-right: 1rem;
                        }
                    }
                }

            }
        }

        .accordion__container {
            flex: 1 1 75%;
        }
    }
}