@use '../abstracts/' as *;
@use '../base/' as *;

.quality {
    width: 90%;
    position: relative;
    margin-top: 11.25rem !important;
    margin: auto;

    @include bp-lg-tablet {
        margin-top: 18.75rem !important;
    }

    @include bp-sm-tablet {
        max-width: 40rem;
        margin-top: 10rem !important;
    }

    &__content {
        width: 100%;
        height: 29.625rem;
        background-color: $dk-grey-blue;
        border-radius: .375rem;
        @include flex(row, space-between, center);
        padding: 0 5rem;
        gap: 2rem;

        @include bp-lg-tablet {
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
        }

        @include bp-sm-tablet {
            height: 31.8125rem;
            padding: 0rem 1.5rem;
        }

        @include bp-mobile {
            padding: 0rem;
        }

        .quality__details {
            width: 33.75rem;
            height: auto;

            @include bp-lg-tablet {
                text-align: center;
            }

            @include bp-sm-tablet {
                width: 17.4375rem;
            }
            
            @include bp-mobile {
                padding: 0rem 1rem;
            }
            


            &__title {
                @include HeaderThreeLT;
                padding-bottom: 2rem;

                @include bp-lg-tablet {
                    margin-top: 2rem;
                }

                @include bp-sm-tablet {
                    font-size: 1.75rem;
                }

                @include bp-mobile {
                    margin-top: 1rem;
                    padding-bottom: 1rem;
                }
            }

            &__summary {
                @include BodyFontLT;

                @include bp-lg-tablet {
                    font-size: .9375rem;
                }

                @include bp-sm-tablet {
                    width: 17.4375rem;
                }

                @include bp-mobile {
                    width: 100%;
                    padding-bottom: 1rem;
                }
            }
        }

        .quality__img--container {
            position: relative;
            .quality__img {
                margin-top: -10rem;
                background-image: url('/src/assets/about/desktop/image-quality.jpg');
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
                width: 27.8125rem;
                height: 29.625rem;

                @include bp-lg-tablet {
                    margin-top: -15rem;
                    background-image: url('/src/assets/about/tablet/image-quality.jpg');
                    width: 35.8125rem;
                    height: 20rem;
                }

                @include bp-sm-tablet {
                    background-image: url('/src/assets/about/mobile/image-quality.jpg');
                    width: 17.4375rem;
                    height: 9.75rem;
                    margin-top: -5rem;
                }

                @include bp-mobile {
                    width: 12.5rem;
                    height:  9.375rem;
                }

            }
        }

    }


}