// Main Colors
$dk-cyan: #0e8784;
$dk-grey-blue: #333d4b;
$pale-orange: #fdd6ba;
$cream: #F4F1EB;
$lt-cream: #fefcf7;
$grey: #83888f;
$lt-cyan: #66D2CF;
$lt-grey: #E2DEDB;



// Element Colors
$page-background: $lt-cream;
$footer-background: $dk-grey-blue;


// Font Colors
$body-font-color: $dk-grey-blue;
$lt-heading-color: $lt-cream;
/* hero, dark sections */
$dk-heading-color: $dk-grey-blue;
/* light sections, aside, how it works, map */
$number-heading-color: $pale-orange;
$nav-font-color: $grey;
$nav-font-color-active: $dk-grey-blue;
$mobile-navbar-font-color: $dk-grey-blue;

$home-section1-heading: linear-gradient(180deg, rgba(254, 252, 247, 0.00) 0%, #FEFCF7 100%);

$accordion-title-default: $grey;
$accordion-title-hover: $grey;
$accordion-title-disabled: $lt-grey;

$selection-btn-font-active: $lt-cream;

$button-font-color: $lt-cream;

// Button Background Colors
$main-btn-active: $dk-cyan;
$main-btn-hover: $lt-cyan;
$main-btn-disabled: $lt-grey;

$selection-btn-active: $dk-cyan;
$selection-btn-hover: $pale-orange;
$selection-btn-default: $cream;

$accordion-caret-default: $dk-cyan;
$accordion-caret-hover: $lt-cyan;
$accordion-caret-disabled: $lt-cyan;