// Main Colors
$dk-cyan: #0e8784;
$dk-grey-blue: #333d4b;
$pale-orange: #fdd6ba;
$cream: #F4F1EB;
$lt-cream: #fefcf7;
$grey: #83888f;
$lt-cyan: #66D2CF;
$lt-grey: #E2DEDB;


// Element Colors
$page-background: $lt-cream;
$footer-background: $dk-grey-blue;



// Font Colors
$body-font-color: $dk-grey-blue;
$accordion-title: $grey;
$accordion-title-disabled: $light-grey;


// Button Colors
$main-btn-active: $dk-cyan;
$main-btn-hover: $lt-cyan;
$main-btn-disabled: $lt-grey;
$selection-btn-active: $dk-cyan;
$selection-btn-hover: $pale-orange;
$selection-btn-default: $cream;
$accordion-caret-default: $dk-cyan;
$accordion-caret-hover: $lt-cyan;