@use 'colors' as *;
@use 'media' as *;
@use '../base/typography' as *;


// Flex Mixin
@mixin flex($direction, $justifyContent, $alignItems) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justifyContent;
    align-items: $alignItems;
}

// Media Mixins-- Min-Width

// SM Mobile
@mixin bp-sm-mobile {
    @media screen and (max-width: $sm-mobile) {
        @content;
    }
}

// MD Tablet
@mixin bp-md-tablet {
    @media screen and (min-width: $md-tablet) {
        @content;
    }
}

// LG Tablet
@mixin bp-lg-tablet {
    @media screen and (min-width: $lg-tablet) {
        @content;
    }
}

// XL Desktop
@mixin bp-xl-desktop {
    @media screen and (min-width: $xl-desktop) {
        @content;
    }
}

// XXL Desktop
@mixin bp-xxl-desktop {
    @media screen and (min-width: $xxl-desktop) {
        @content;
    }
}

// Media Mixins-- Max-Width
// XS Mobile
@mixin bp-xs-mobile {
    @media screen and (max-width: $xs-mobile) {
        @content;
    }
}

// MD Tablet
@mixin bp-md-tablet-max {
    @media screen and (max-width: $md-tablet) {
        @content;
    }
}

//Font Mixins 

@mixin HomeSubscribeHeroTitle() {
    font-family: $header-font;
    font-size: $home-subscribe-hero-heading-size;
    color: $lt-cream;
    line-height: 2.5rem;
    text-align: center;
}

@mixin HeaderOne() {
    font-family: $header-font;
    font-size: $h1-heading-size;
    color: $lt-heading-color;
    font-size: $h1-heading-size;
    font-style: normal;
    font-weight: 900;
    line-height: 4.5rem;
}

@mixin HeaderTwoDK() {
    font-family: $header-font;
    font-size: $h2-heading-size;
    color: $dk-heading-color;
    font-size: $h2-heading-size;
    font-style: normal;
    font-weight: 900;
    line-height: 3rem;
}

@mixin HeaderTwoLT() {
    font-family: $header-font;
    font-size: $h2-heading-size;
    color: $lt-heading-color;
    font-size: $h2-heading-size;
    font-style: normal;
    font-weight: 900;
    line-height: 3rem;
}

@mixin HeaderThreeDK() {
    font-family: $header-font;
    color: $dk-heading-color;
    font-size: $h3-heading-size;
    font-style: normal;
    font-weight: 900;
    line-height: 2.25rem;
}

@mixin HeaderThreeLT() {
    font-family: $header-font;
    color: $lt-heading-color;
    font-size: $h3-heading-size;
    font-style: normal;
    font-weight: 900;
    line-height: 2.25rem;
}

@mixin @mixin NavbarFont() {
    color: $nav-font-color;
    font-family: 'Barlow', serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

@mixin NavbarFontMobile() {
    color: $dk-grey-blue;
    text-align: center;
    font-family: "Fraunces 9pt";
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 32px;
    /* 133.333% */
}