@use 'colors' as *;
@use 'media' as *;
@use '../base/typography' as *;


// Flex Mixin
@mixin flex($direction, $justifyContent, $alignItems) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justifyContent;
    align-items: $alignItems;
}



// Media-- Max-Width
// Laptop 1400px
@mixin bp-laptop {
    @media screen and (max-width: $laptop) {
        @content;
    }
}

// XL Tablet 1200px
@mixin bp-xl-tablet {
    @media screen and (max-width: $xl-tablet) {
        @content;
    }
}

// LG Tablet 1024px
@mixin bp-lg-tablet {
    @media screen and (max-width: $lg-tablet) {
        @content;
    }
}

// MD Tablet 992px
@mixin bp-md-tablet {
    @media screen and (max-width: $md-tablet) {
        @content;
    }
}


// SM Tablet 767px
@mixin bp-sm-tablet {
    @media screen and (max-width: $sm-tablet) {
        @content;
    }
}

// LG Mobile 576px
@mixin bp-lg-mobile {
    @media screen and (max-width: $lg-mobile) {
        @content;
    }
}

// Mobile 375px
@mixin bp-mobile {
    @media screen and (max-width: $mobile) {
        @content;
    }
}



//Font Mixins 

@mixin HomeSubscribeHeroTitle() {
    font-family: $header-font;
    font-size: $home-subscribe-hero-heading-size;
    color: $lt-cream;
    line-height: 2.5rem;
    text-align: center;
}

@mixin HeaderOne() {
    font-family: $header-font;
    font-size: $h1-heading-size;
    color: $lt-heading-color;
    font-size: $h1-heading-size;
    font-style: normal;
    font-weight: 900;
    line-height: 4.5rem;
}

@mixin HeaderTwoDK() {
    font-family: $header-font;
    font-size: $h2-heading-size;
    color: $dk-heading-color;
    font-size: $h2-heading-size;
    font-style: normal;
    font-weight: 900;
    line-height: 3rem;
}

@mixin HeaderTwoLT() {
    font-family: $header-font;
    font-size: $h2-heading-size;
    color: $lt-heading-color;
    font-size: $h2-heading-size;
    font-style: normal;
    font-weight: 900;
    line-height: 3rem;
}

@mixin HeaderThreeDK() {
    font-family: $header-font;
    color: $dk-heading-color;
    font-size: $h3-heading-size;
    font-style: normal;
    font-weight: 900;
    line-height: 2.25rem;
}

@mixin HeaderThreeLT() {
    font-family: $header-font;
    color: $lt-heading-color;
    font-size: $h3-heading-size;
    font-style: normal;
    font-weight: 900;
    line-height: 2.25rem;
}

@mixin HeaderFourDK() {
    color: $dk-heading-color;
    font-family: $header-font;
    font-size: $h4-heading-size;
    font-style: normal;
    font-weight: 900;
    line-height: 2rem;
}

@mixin HeaderFourLT() {
    color: $lt-heading-color;
    font-family: $header-font;
    font-size: $h4-heading-size;
    font-style: normal;
    font-weight: 900;
    line-height: 2rem;
}

@mixin HeaderFourGrey() {
    color: $grey;
    font-family: $header-font;
    font-size: $h4-heading-size;
    font-style: normal;
    font-weight: 900;
    line-height: 2rem;
}

@mixin NavbarFont() {
    color: $nav-font-color;
    font-family: 'Barlow', serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    /* 162.5% */
}

@mixin NavbarFontMobile() {
    color: $dk-grey-blue;
    text-align: center;
    font-family: "Fraunces 9pt";
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 32px;
    /* 133.333% */
}

@mixin BodyFontDK() {
    font-family: $body-font;
    color: $body-font-color;
    font-size: $body-font-size;
    line-height: 1.625rem;
    font-weight: 400;
}

@mixin BodyFontLT() {
    font-family: $body-font;
    color: $button-font-color;
    font-size: $body-font-size;
    line-height: 1.625rem;
    font-weight: 400;
}

@mixin ButtonFont() {
    font-family: $header-font;
    font-size: $button-font-size;
    font-weight: 900;
    text-align: center;
    line-height: 1.5625rem;
    color: $button-font-color;
}

@mixin AccordionMenuTitle() {
    font-family: $header-font;
    font-size: $accordion-menu-title-size;
    color: $accordion-title-default;
}