@use 'abstracts/' as *;
@use 'base/' as *;
@use 'components/' as *;
@use 'layout/' as *;
@use 'pages/' as *;



@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Fraunces:wght@900&display=swap");



// Global Styles

body {
    background-color: $page-background;
    font-family: $body-font;
}

.overflow-wrapper {
    overflow-x: hidden;
    position: relative;
}

a {
    text-decoration: none;
    line-height: 2rem;
}

.container {
    width: 100%;
    max-width: 90dvw;
    height: 100%;
    margin: auto;
    padding: .625rem;
}