@use 'abstracts/colors' as *;
@use 'abstracts/media' as *;
@use 'abstracts/mixins' as *;

@use 'base/reset' as *;
@use 'base/typography' as *;

@use 'components/accordion' as *;
@use 'components/buttons' as *;
@use 'components/cards' as *;
@use 'components/collection' as *;
@use 'components/commitment' as *;
@use 'components/map' as *;
@use 'components/modal' as *;
@use 'components/modalSubscribe' as *;
@use 'components/order' as *;
@use 'components/works' as *;

@use 'layout/aside' as *;
@use 'layout/footer' as *;
@use 'layout/hero' as *;
@use 'layout/navbar' as *;

@use 'pages/about' as *;
@use 'pages/home' as *;
@use 'pages/subscribe' as *;



@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&family=Fraunces:wght@900&display=swap");



// Global Styles
body {
    cursor: default;
    background: $page-background;
}

.overflow-wrapper {
    overflow-x: hidden;
    position: relative;
}

a {
    text-decoration: none;
    line-height: 2rem;
}