// Header Fonts
$header-font: "Fraunces", serif;
$home-subscribe-hero-heading-size: 2.5rem;
$about-hero-heading-size: 1.75rem;
$h1-heading-size: 4.5rem;
$h2-heading-size: 2.5rem;
$h3-heading-size: 2rem;
$h4-heading-size: 1.5rem;


// Body Fonts
$body-font: "Barlow", serif;
$body-font-size: 1rem;
$button-font-size: .9375rem;
$navbar-font-size: .75rem;
$accordion-menu-title-size: 3rem;

