@use '../abstracts/' as *;

$body-font: "Barlow", serif;
$header-font: "Fraunces", serif;

h1,
h2,
h3,
h4 {
    font-family: $header-font;
}

p {
    font-family: $body-font;
    color: $body-font-color;
}

.header-one {
    color: $lt-heading-color;
    font-family: $header-font;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 72px;
    /* 100% */
}

.header-two-dk {
    color: $dk-heading-color;
    font-family: Fraunces;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 48px;
    /* 120% */
}

.header-two-lt {
    color: $lt-heading-color;
    font-family: Fraunces;
    font-size: 40px;
    font-style: normal;
    font-weight: 900;
    line-height: 48px;
    /* 120% */
}